/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/05/2016, 15:31:37
    Author     : RAH
*/
.Table{   
    border-collapse:collapse;
    border:1px solid #000000;
}

.TableHeader{
    text-align:left;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;  
    padding:2px;
}

.TableOddRow{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;	
}

.TableEvenRow{
    text-align:center;
    background:none repeat scroll 0 0 #D3D3D3;
}
